/*---variables*/
$color_1: white;
$color_2: #da2140;
$color_3: rgb(255, 255, 255);
$color_4: grey;
$color_5: #6282a7;
$color_6: #fff;
$font-family_1: "Poppins", sans-serif;
$font-family_2: Georgia, "Times New Roman", Times, serif;

